<div class="offers_container">
  <div class="container-title">
    <h2>À vos marques, prêts, recrutez !</h2>
    <h4>Obtenez des crédits pour commencer à poster des annonces.</h4>
  </div>
  <div class="switcher">
    <i class="fa-solid fa-chevron-left"></i>
    <i class="fa-solid fa-chevron-right"></i>
  </div>
  <div class="offers">
    <div class="offer">
      <div class="offer-top">
        <h3>1 Crédit</h3>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.
        </p>
      </div>
      <div class="offer-price">
        <div class="price">
          <h1>24.99</h1>
          <span>€</span>
        </div>
      </div>
      <div class="offer-buy">
        <label for="offer-1">
          Qté
          <input type="number" id="offer-1" value="1" step="1" min="1">
        </label>
        <button class="btn-custom">
          <span>Acheter</span>
        </button>
      </div>
      <div class="offer-bottom">
        <div class="offer-details">
          <p class="offer-advantage">
            <i class="fa-solid fa-circle-check"></i>
            Lorem ipsum dolor sit amet
          </p>
          <hr>
          <p class="offer-advantage">
            <i class="fa-solid fa-circle-check"></i>
            Lorem ipsum dolor sit amet
          </p>
          <hr>
          <p class="offer-advantage">
            <i class="fa-solid fa-circle-check"></i>
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
    </div>
    <div class="offer">
      <div class="offer-top">
        <h3>5 Crédits + 1 Offert</h3>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.
        </p>
      </div>
      <div class="offer-price">
        <div class="price">
          <h1>124.99</h1>
          <span>€</span>
        </div>
      </div>
      <div class="offer-buy">
        <button class="btn-custom">
          <span>Acheter ce pack</span>
        </button>
      </div>
      <div class="offer-bottom">
        <div class="offer-details">
          <p class="offer-advantage">
            <i class="fa-solid fa-circle-check"></i>
            Lorem ipsum dolor sit amet
          </p>
          <hr>
          <p class="offer-advantage">
            <i class="fa-solid fa-circle-check"></i>
            Lorem ipsum dolor sit amet
          </p>
          <hr>
          <p class="offer-advantage">
            <i class="fa-solid fa-circle-check"></i>
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
    </div>
    <div class="offer">
      <div class="offer-top">
        <h3>10 Crédits + 3 Offerts</h3>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.
        </p>
      </div>
      <div class="offer-price">
        <div class="price">
          <h1>249.99</h1>
          <span>€</span>
        </div>
      </div>
      <div class="offer-buy">
        <button class="btn-custom">
          <span>Acheter ce pack</span>
        </button>
      </div>
      <div class="offer-bottom">
        <div class="offer-details">
          <p class="offer-advantage">
            <i class="fa-solid fa-circle-check"></i>
            Lorem ipsum dolor sit amet
          </p>
          <hr>
          <p class="offer-advantage">
            <i class="fa-solid fa-circle-check"></i>
            Lorem ipsum dolor sit amet
          </p>
          <hr>
          <p class="offer-advantage">
            <i class="fa-solid fa-circle-check"></i>
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
    </div>
    <div class="offer">
      <div class="offer-top">
        <h3>Personnalisé</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit.
        </p>
      </div>
      <div class="offer-price">
        <div class="price">
          <h1></h1>
          <span></span>
        </div>
      </div>
      <div class="offer-buy">
        <button class="btn-custom contact-us">
          <span>Contacter notre équipe</span>
        </button>
      </div>
      <div class="offer-bottom">
        <div class="offer-details">
          <p class="offer-advantage">
            <i class="fa-solid fa-circle-check"></i>
            Lorem ipsum dolor sit amet
          </p>
          <hr>
          <p class="offer-advantage">
            <i class="fa-solid fa-circle-check"></i>
            Lorem ipsum dolor sit amet
          </p>
          <hr>
          <p class="offer-advantage">
            <i class="fa-solid fa-circle-check"></i>
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
