<div class="menu-container">
  <div class="logo">
    <a href="/"><img  src="/images/logo.png" alt="Logo de MyAlternance"></a>
  </div>

  <div class="return">
    <a (click)="goBack()">
      <mat-icon
        aria-hidden="false"
        aria-label="Icon fleche retour à la page précédente"
        fontIcon="arrow_back" />
      Retour
    </a>
  </div>
  <ul class="list-group">
    <li class="list-group-item" [ngClass]="{'active': board === 'form'}">
      <a (click)="onChangeBoard('form')" >
        <i>
          <mat-icon
            aria-hidden="false"
            aria-label="Icon utilisateur gérer les comptes"
            fontIcon="manage_accounts" />
        </i>
        Mon profil
      </a>
    </li>
    <li class="list-group-item" [ngClass]="{'active': board === 'offers'}">
      <a (click)="onChangeBoard('offers')" >
        <i>
          <mat-icon
            aria-hidden="false"
            aria-label="Icon bookmark"
            fontIcon="bookmark_border" />
        </i>
        Offres enregistrées
      </a>
    </li>
    <li class="list-group-item" [ngClass]="{'active': board === 'dashboard'}">
      <a (click)="onChangeBoard('dashboard')">
        <i>
          <mat-icon
            aria-hidden="false"
            aria-label="Icon pie"
            fontIcon="pie_chart" />
        </i>
        tableau de bord
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        <img src="/images/icon/website-icon.png" alt="Icon de site web">
        Mon abonnement
      </a>
    </li>
    <li class="list-group-item apply">
      <a href="#">
        <i>
          <mat-icon
            aria-hidden="false"
            aria-label="Postuler à une offre"
            fontIcon="add_to_photos" />
        </i>
        Postuler une offre
      </a>
    </li>
    <li class="list-group-item remaining-block">
      <div class="remaining-application">
        <span>Il vous reste</span>
        <strong>3 candidatures</strong>
        <button class="btn-custom" href="#">Passer premium</button>
      </div>
    </li>
    <li class="list-group-item logout">
      <a href="#">
        <i>
          <mat-icon
            aria-hidden="false"
            aria-label="Icon de déconnexion"
            fontIcon="logout" />
        </i>
        Déconnexion
      </a>
    </li>
  </ul>
</div>
