<div class="card-container">
  <div class="subscription-card">
    <div>
      <div class="card-header">
        <strong class="offer-title">
          <mat-icon
            aria-hidden="false"
            aria-label="Icon étoile"
            fontIcon="star" />
          Abonnement Premium
        </strong>
        <p class="offer-description">Mettez toutes les chances de votre côté en passant à l’abonnement Premium.</p>
      </div>
      <div class="subscription-details">
        <strong class="price">2.99€</strong> <span class="periode">/mois</span>
        <div class="advantages">
          <p class="offer-advantage">
            <i>
              <mat-icon
                aria-hidden="false"
                aria-label="Icon étoile"
                fontIcon="check_circle" />
            </i>
            Candidatures <b>&nbsp;illimitées</b>
          </p>
          <hr>
          <p class="offer-advantage">
            <i>
              <mat-icon
                aria-hidden="false"
                aria-label="Icon étoile"
                fontIcon="check_circle" />
            </i>
            Tableau de bord personnalisé
          </p>
          <hr>
          <p class="offer-advantage">
            <i>
              <mat-icon
                aria-hidden="false"
                aria-label="Icon étoile"
                fontIcon="check_circle" />
            </i>
            Suivi de l’état de vos candidatures
          </p>
        </div>
      </div>
    </div>
    <div class="buttons_container">
      <a href="#" class="btn-custom">
        <span>Passer premium</span>
      </a>
    </div>
  </div>
</div>
