<div class="hook-block">
  <div class="hook_container choose-profil">
    <div class="chooser">
      <h1>My Alternance notre plateforme, <span>votre réussite</span>.</h1>
      <p>
        MyAlternance vous accompagne du CAP au Doctorat dans vos recherches d’alternance.
        Chercher à se professionnaliser n’a jamais été aussi simple !
      </p>
      <div class="buttons_container">
        <a href="#" class="btn-custom">
          <span>Trouver mon alternance</span>
          <i class="fa-solid fa-arrow-right"></i>
        </a>
        <a href="#" class="btn-custom company">Je suis une entreprise</a>
      </div>
    </div>
  </div>
  <div class="hook_container three-blocks">
    <div class="offers">
      <div class="filigrane">
        <p>
          <strong>+ de 3000</strong>
          offres d'alternance
        </p>
      </div>
    </div>
    <div class="informations mt-4">
      <div class="helper search-helper me-4">
        <div class="filigrane">
          <p>
            Trouvez facilement votre future formation en alternance.
          </p>
        </div>
      </div>
      <div class="helper advices-helper">
        <div class="filigrane">
          <p>
            Des conseils exclusifs pour faire de vous le candidats idéal.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
