<div class="app-container">
  <app-header />
  <div class="header">
    <div class="header-content">
      <h1>Le blog</h1>
      <p>qui met toutes les chances de votre côté !</p>
    </div>
  </div>
  <div class="articles-container">
    <div class="menu-article">
      <h2>Tous les articles</h2>
      <ul>
        <li><a href="#">Trouver ma formation en alternance.</a></li>
        <li><a href="#">Préparer mon CV et ma lettre de motivation.</a></li>
        <li><a href="#">Comment postuler à des offres avec MyAlternance?</a></li>
        <li><a href="#">Préparer mon entretien d’embauche.</a></li>
        <li><a href="#">Conseils pour bien débuter en entreprise.</a></li>
      </ul>
    </div>
    <div class="articles">
      <h2 class="mobile-only">Tous les articles</h2>
      <div class="card article" >
        <img src="/images/blog/article-background.png'" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Trouver ma formation en alternance.</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn btn-custom">Lire l’article</a>
        </div>
      </div>
      <div class="card article" >
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Trouver ma formation en alternance.</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn btn-custom">Lire l’article</a>
        </div>
      </div>
      <div class="card article">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Trouver ma formation en alternance.</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn btn-custom">Lire l’article</a>
        </div>
      </div>
      <div class="card article">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Trouver ma formation en alternance.</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn btn-custom">Lire l’article</a>
        </div>
      </div>
      <div class="card article">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Trouver ma formation en alternance.</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn btn-custom">Lire l’article</a>
        </div>
      </div>
    </div>
  </div>

  <div class="articles-background">
    <div class="articles-container secondary">
      <div class="menu-article">
        <h2>Articles les plus consultés</h2>
        <ul>
          <li><a href="#">Trouver ma formation en alternance.</a></li>
          <li><a href="#">Préparer mon CV et ma lettre de motivation.</a></li>
          <li><a href="#">Comment postuler à des offres avec MyAlternance?</a></li>
        </ul>
      </div>
      <div class="articles">
        <h2 class="mobile-only">Articles les plus consultés</h2>
        <div class="card article" >
          <img src="#" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Trouver ma formation en alternance.</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="btn btn-custom">Lire l’article</a>
          </div>
        </div>
        <div class="card article" >
          <img src="#" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Trouver ma formation en alternance.</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="btn btn-custom">Lire l’article</a>
          </div>
        </div>
        <div class="card article">
          <img src="/images/blog/article-background.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Trouver ma formation en alternance.</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="btn btn-custom">Lire l’article</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
