<form class="form-block" [ngClass]="universe">
  <div class="name-fields">
    <div class="input-group-custom">
      <input
        type="text"
        placeholder="Prénom"
        aria-label="prénom"
        aria-describedby="basic-addon1">
    </div>
    <div class="input-group-custom">
      <input
        type="text"
        placeholder="Nom"
        aria-label="nom"
        aria-describedby="basic-addon2">
    </div>
  </div>
  <div class="input-group-custom">
    <span class="input-group-text-custom">
      <i class="fa-regular fa-envelope"></i>
    </span>
    <input
      type="text"
      placeholder="Email"
      aria-label="Email"
      aria-describedby="basic-addon4">
  </div>
  <div class="input-group-custom">
    <span class="input-group-text-custom"><i class="fa-solid fa-lock"></i></span>
    <input
      type="text"
      placeholder="Mot de passe"
      aria-label="Mot de passe"
      aria-describedby="basic-addon2">
    <span class="input-group-text-custom hidden">
      <i class="fa-regular fa-eye-slash"></i>
    </span>
  </div>
  <div class="input-group-custom">
    <span class="input-group-text-custom">
      <i class="fa-solid fa-lock"></i>
    </span>
    <input
      type="text"
      placeholder="Confirmation du mot de passe"
      aria-label="Confirmation du mot de passe"
      aria-describedby="basic-addon3">
    <span class="input-group-text-custom hidden">
      <i class="fa-regular fa-eye-slash"></i>
    </span>
  </div>
  <div class="form-options">
    <div class="remember-me">
      <input hidden="hidden" type="checkbox" id="newsletter">
      <img src="/images/icon/checkbox-check.png" alt="checkbox-uncheck">
      <label for="newsletter" style="font-size: .8em">J'accepte de recevoir des offres de la part de MyAlternance</label>
    </div>
  </div>
  <div class="error-msg">
    <i class="fa-regular fa-circle-xmark"></i>
    <p>
      Votre mot de passe doit contenir au minimum 1 majuscule,
      un chiffre et un caractère spécial (!, _, -, , /)
    </p>
  </div>
  <button class="btn-custom">Créer mon compte</button>
</form>
<p>J'ai déjà un compte. <a href="#">Me connecter</a></p>
