<div class="trust-us_container">
  <h2>Ils nous font confiance</h2>
  <div class="trust-us__logos">
    <img src="/images/company/truster-logo/linkedin-logo.png" alt="logo" title="Logo Linkedin">
    <img src="/images/company/truster-logo/microsoft-logo.png" alt="logo" title="Logo Microsoft">
    <img src="/images/company/truster-logo/linkedin-logo.png" alt="logo" title="Logo Linkedin">
    <img src="/images/company/truster-logo/microsoft-logo.png" alt="logo" title="Logo Microsoft">
    <img src="/images/company/truster-logo/linkedin-logo.png" alt="logo" title="Logo Linkedin">
    <img src="/images/company/truster-logo/microsoft-logo.png" alt="logo" title="Logo Microsoft">
    <img src="/images/company/truster-logo/linkedin-logo.png" alt="logo" title="Logo Linkedin">
    <img src="/images/company/truster-logo/microsoft-logo.png" alt="logo" title="Logo Microsoft">
    <img src="/images/company/truster-logo/linkedin-logo.png" alt="logo" title="Logo Linkedin">
  </div>
</div>
