<div class="menu-formation">
  <h2>Votre recherche</h2>
  <ul>
    <li>
      <div class="search-item">
        <i class="fa-solid fa-magnifying-glass"></i>
        <span>Communication</span>
      </div>
    </li>
    <li>
      <div class="search-item">
        <i class="fa-solid fa-award"></i>
        <span>Bachelor</span>
      </div>
    </li>
    <li>
      <div class="search-item">
        <i class="fa-solid fa-location-dot"></i>
        <span>Non spécifié</span>
      </div>
    </li>
    <li>
      <div class="search-item">
        <i class="fa-regular fa-calendar"></i>
        <span>Non spécifié</span>
      </div>
    </li>
  </ul>
</div>
