<form class="form-block">
  <div class="input-group-custom">
    <span class="input-group-text-custom">
      <i class="fa-regular fa-user"></i>
    </span>
    <input
      type="text"
      placeholder="Email"
      aria-label="Email"
      aria-describedby="basic-addon1">
  </div>
  <div class="input-group-custom">
    <span class="input-group-text-custom">
      <i class="fa-solid fa-lock"></i>
    </span>
    <input
      type="text"
      placeholder="Mot de passe"
      aria-label="Mot de passe"
      aria-describedby="basic-addon2">
    <span class="input-group-text-custom hidden">
      <i class="fa-regular fa-eye-slash"></i>
    </span>
  </div>
  <div class="error-msg">
    <i class="fa-regular fa-circle-xmark"></i>
    <p>
      Votre mot de passe doit contenir au minimum 1 majuscule,
      un chiffre et un caractère spécial (!, _, -, /)
    </p>
  </div>
  <div class="form-options">
    <div class="remember-me">
      <input hidden="hidden" type="checkbox" id="remember-me">
      <img src="/images/icon/checkbox-uncheck.png" alt="checkbox-uncheck">
      <label for="remember-me">Se souvenir de moi</label>
    </div>
    <a href="#">Mot de passe oublié ?</a>
  </div>
  <button class="btn-custom">Se connecter</button>
</form>
<div class="social-connexion">
  <p>Ou se connecter avec</p>
  <div class="social-icons">
    <a href="#"><img src="/images/icon/google-icon-transparent.png" alt="icon-google"> </a>
    <a href="#"><img src="/images/icon/facebook-icon.png" alt="icon-facebook"> </a>
    <a href="#"><img src="/images/icon/linkedin-icon.png" alt="icon-linkedin"> </a>
  </div>
</div>
<p>Je n'ai pas encore de compte. <a href="#">Créer un compte</a></p>
