<div class="form-container container-fluid">
  <h2 class="" [ngClass]="'text-' + rdv.status">{{ title | titlecase }}</h2>
    <div class="accordion" id="accordionForm">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseClient"
                  aria-expanded="true"
                  aria-controls="collapseClient">

            <mat-icon
              aria-hidden="false"
              aria-label="Icon client satisfait"
              fontIcon="sentiment_satisfied" />

            {{ rdv.client.person.username }}
          </button>
        </h2>
        <div id="collapseClient"
             class="accordion-collapse collapse show"
             data-bs-parent="#accordionForm">
          <div class="accordion-body">

            <!-- Debut Accordeon  -->
            <div class="accordion" id="accordionClientEmail">
              <app-accordion-email [email]="rdv.client.person.email"></app-accordion-email>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseClientPhoneForm"
                          aria-expanded="false"
                          aria-controls="collapseClientPhoneForm">
                    <mat-icon
                      aria-hidden="false"
                      aria-label="Icon paramètres téléphone"
                      fontIcon="settings_cell" />
                    Téléphone
                  </button>
                </h2>
                <div id="collapseClientPhoneForm"
                     class="accordion-collapse collapse"
                     data-bs-parent="#accordionClientEmail">
                  <div class="accordion-body">
                    <!-- Phone -->
                    <div class="form-floating mb-3">
                      <input type="text"
                             class="form-control"
                             id="phoneClientInput"
                             value="{{ rdv.client.person.phone.number }}"
                             placeholder="username@example.com"
                             required
                      >
                      <label for="phoneClientInput">{{ rdv.client.person.phone.number }}</label>
                    </div>
                    <!-- FIN Phone -->
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#collapseClientLocationForm"
                          aria-expanded="false"
                          aria-controls="collapseClientLocationForm">
                    <mat-icon
                      aria-hidden="false"
                      aria-label="Icon où je suis"
                      fontIcon="person_pin" />
                    Adresse
                  </button>
                </h2>
                <div id="collapseClientLocationForm"
                     class="accordion-collapse collapse"
                     data-bs-parent="#accordionClientEmail">
                  <div class="accordion-body">
                    <!-- LOCATION -->
                    <div class="form-floating mb-3">
                      <input name="clientLocationTitle" type="text"
                             class="form-control is-valid"
                             id="locationNameClientInput"
                             value="{{ rdv.client.person.location.title }}"
                             placeholder="Ma résidence"
                      >
                      <label for="locationNameClientInput">Nom de l'adresse</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input name="clientAddressStreet"
                             type="text"
                             class="form-control is-valid"
                             id="adresseStreetClientInput"
                             value="{{ rdv.client.person.location.address.street }}"
                             placeholder="Av. des Champs-Élysées"
                      >
                      <label for="adresseStreetClientInput">Rue et numéro</label>
                    </div>
                    <div class="form-floating mb-3">
                      <input name="clientAddressCity"
                             type="text"
                             class="form-control is-valid"
                             id="adresseCityClientInput"
                             value="{{ rdv.client.person.location.address.city }}"
                             placeholder="Paris"
                      >
                      <label for="adresseStreetClientInput">Ville</label>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="form-floating mb-3">
                          <input name="clientAppartementAdresse"
                                 type="text"
                                 class="form-control is-valid"
                                 id="adresseAppartementClientInput"
                                 value="{{ rdv.client.person.location.address.apartment }}"
                                 placeholder="104"
                          >
                          <label for="adresseAppartementClientInput">Appartement</label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-floating mb-3">
                          <input name="clientCodeAdresse"
                                 type="text"
                                 class="form-control is-valid"
                                 id="adresseCodeClientInput"
                                 value="{{ rdv.client.person.location.address.code }}"
                                 placeholder="104"
                          >
                          <label for="adresseCodeClientInput">Code</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-floating mb-3">
                          <input name="clientAppartementAdresse"
                                 type="text"
                                 class="form-control is-valid"
                                 id="adresseFloorClientInput"
                                 value="{{ rdv.client.person.location.address.floor }}"
                                 placeholder="4"
                          >
                          <label for="adresseFloorClientInput">&Eacute;tage</label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-floating mb-3">
                          <input name="clientCodeAdresse"
                                 type="text"
                                 class="form-control is-valid"
                                 id="adressePostalCodeClientInput"
                                 value="{{ rdv.client.person.location.address.codePostal }}"
                                 placeholder="104"
                          >
                          <label for="adressePostalCodeClientInput">Code Postal</label>
                        </div>
                      </div>
                    </div>

                    <!-- FIN LOCATION -->
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin Accordeont  -->
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapsePrestations"
                  aria-expanded="false"
                  aria-controls="collapsePrestations">
            Prestations #2
          </button>
        </h2>
        <div id="collapsePrestations"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionForm">
          <div class="accordion-body">
            <strong>This is the Préstation item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseLocation"
                  aria-expanded="false"
                  aria-controls="collapseLocation">
            Accordion Item #3
          </button>
        </h2>
        <div id="collapseLocation"
             class="accordion-collapse collapse"
             data-bs-parent="#accordionForm">
          <div class="accordion-body">
            <strong>This is the Location item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
</div>
