<nav class="navbar navbar-expand-lg" [ngClass]="{'open':isMenuOpen}">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" aria-label="retour à l'accueil">
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            (click)="onOpenMenu()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent">
      <div class="empty-container"></div>
      <div class="main-menu">
        <app-main-menu />
      </div>
      <div class="menu-connection">
        <app-menu-connection />
      </div>
    </div>
  </div>
</nav>
