<div class="hook-block">
  <div class="hook_container three-blocks">
    <div class="finder">
      <div class="finder_description">
        <h3>Trouvez votre formation en alternance</h3>
        <div class="buttons_container">
          <a href="#" class="btn-custom">
            <span>Trouver une formation</span>
            <i>
              <mat-icon
                aria-hidden="false"
                aria-label="Icon fléche direction nord est"
                fontIcon="north_east" />
            </i>
          </a>
        </div>
      </div>
      <div class="finder_background"></div>
    </div>
    <div class="informations">
      <div class="helper cv-helper">
        <div class="helper__inner">
          <h4>Préparez votre CV avec nos tutos et conseils</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#" class="btn-custom">
            <span>Voir les conseils</span>
            <i>
              <mat-icon
                aria-hidden="false"
                aria-label="Icon fléche direction nord est"
                fontIcon="north_east" />
            </i>
          </a>
        </div>
      </div>
      <div class="helper conseil-helper">
        <div class="helper__inner">
          <h3>Des conseils pour bien débuter en entreprise</h3>
          <a href="#" class="btn-custom">
            <span>Voir les conseils</span>
            <i>
              <mat-icon
                aria-hidden="false"
                aria-label="Icon fléche direction nord est"
                fontIcon="north_east" />
            </i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="hook_container">
    <div class="chooser">
      <div class="chooser_description">
        <h3>Postulez à des offres en quelques clics</h3>
      </div>
      <div class="chooser_background">
        <div class="buttons_container">
          <a href="#" class="btn-custom">
            <span>Trouver mon alternance</span>
            <i>
              <mat-icon
                aria-hidden="false"
                aria-label="Icon fléche direction nord est"
                fontIcon="north_east" />
            </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

