<div class="user-infos">
  <div class="user-profil">
    <div class="avatar">
      <img width="160" alt="Image de ton avatar" src="/images/user/avatar/marina-navarro.png">
      <div class="photo">
        <i class="fa-solid fa-camera"></i>
      </div>
    </div>
    <h4 class="fullname">Marine Navarro</h4>
    <h5 class="diplome">Master1 - ISCOM</h5>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <h5>Candidatures envoyées</h5>
      <span class="text-success">12</span>
    </li>
    <li class="list-group-item">
      <h5>Candidatures</h5>
      <span class="text-warning">14</span>
    </li>
    <li class="list-group-item">
      <h5>En attente</h5>
      <span class="text-danger">2</span>
    </li>
  </ul>
  <div class="share-profil">
    <button class="btn-custom">Partager mon profil</button>
    <div class="profil-link-container">
      <span>https://svushdvbsdh/fb...</span>
      <div class="icon-container">
        <i class="fa-regular fa-copy"></i>
      </div>
    </div>
  </div>
</div>

