$screen-sm-min: 1024px

.offers
  width: 100%
  aspect-ratio: 3.54
  display: flex
  margin-top: 3em
  flex-direction: row
  justify-content: space-between

@media (max-width: $screen-sm-min)
  .offers
    width: 100%
    overflow: scroll
    aspect-ratio: unset
