<div class="connexion-container" [ngClass]="universe">
  <div class="connexion-form block" [ngStyle]="{'order': isSwitchBlock ? '2' : '1'}">
    <i class="fa-solid fa-circle-arrow-left previous" (click)="onGoBack()">
      <mat-icon
        aria-hidden="false"
        aria-label="Icon fleche retour à la page précédente"
        fontIcon="arrow_back" />
    </i>
    <h3>{{ ('Mon espace ' + espaceName) | titlecase }}</h3>
    <div class="switch-link">
      <div class="link-block"
           [ngClass]="{'active': activeForm=='login'}">
        <a (click)="onSwitchForm('login')">Connexion</a>
        <div class="underline"></div>
      </div>
      <div class="link-block"
           [ngClass]="{'active': activeForm=='register'}">
        <a (click)="onSwitchForm('register')">Inscription</a>
        <div class="underline"></div>
      </div>
    </div>
    <ng-container *ngIf="activeForm=='login'">
      <app-login />
    </ng-container>
    <ng-container *ngIf="activeForm=='register'">
      <app-register />
    </ng-container>
  </div>
  <div class="connexion-illustration block" [ngStyle]="{'order': isSwitchBlock ? '1' : '2'}" >
    <ng-container *ngIf="universe === 'student'">
      <div class="space-access">
        <h3>Vous êtes une entreprise ?</h3>
        <a class="btn-custom" (click)="onSwitchBlock()">Espace entreprise</a>
      </div>
    </ng-container>
    <ng-container *ngIf="universe === 'company'">
      <div class="space-access">
        <h3>Vous êtes étudiant ?</h3>
        <a class="btn-custom" (click)="onSwitchBlock()">Espace étudiant</a>
      </div>
    </ng-container>
  </div>
</div>
