<div class="offer">
  <div class="offer__main">
    <div class="offer__header">
      <span class="badge">
        <img src="/images/icon/company-icon_clearBlue500.png" alt="company-icon" width="14">
        Exclusivité
      </span>
      <i class="circle-badge">
        <mat-icon
          aria-hidden="false"
          aria-label="Icon bookmark "
          fontIcon="bookmark_border" />
      </i>
    </div>
    <div class="offer__content">
      <h5>Google</h5>
      <h4>
        <span>Motion Designer en Alternance</span>
        <img src="/images/icon/google-icon.png" alt="google-icon" width="42">
      </h4>
    </div>
    <div class="offer__keywords">
      <app-keyword-badge />
      <app-keyword-badge />
      <app-keyword-badge />
      <app-keyword-badge />
    </div>
  </div>
  <div class="offer__footer">
    <div class="offer_date">
      <p><strong>Offre postée le</strong></p>
      <p>12 Mars 2024</p>
    </div>
    <div class="buttons_container">
      <a href="#" class="btn-custom">
        <span>Voir l'offre</span>
      </a>
    </div>
  </div>
</div>
