<div class="offer">
  <div class="offer__main">
    <div class="offer__header">
      <span class="badge">
        <img src="{{ offer.publishedBy.logo }}" alt="company-icon" width="14">
        {{ offer.publishedBy.name }}
      </span>
      <i class="circle-badge">
        <mat-icon
          aria-hidden="false"
          aria-label="Icon bookmark "
          fontIcon="bookmark_border" />
      </i>
    </div>
    <div class="offer__content">
      <h5>{{ offer.company | titlecase }}</h5>
      <h4>
        <span>{{ offer.title }}</span>
        <img src="{{ offer.companyLogo }}" alt="{{ offer.company }}-icon" width="42">
      </h4>
    </div>
    <div class="offer__keywords">
      <ng-container *ngFor="let keyword of offer.keywords">
        <app-keyword-badge [keyword]="keyword" />
      </ng-container>
    </div>
  </div>
  <div class="offer__footer">
    <div class="offer_date">
      <p><strong>Offre postée le</strong></p>
      <p>{{ offer.date }}</p>
    </div>
    <div class="buttons_container">
      <a href="#" class="btn-custom">
        <span>Voir l'offre</span>
      </a>
    </div>
  </div>
</div>
