<footer>
  <div class="footer_container">
    <div class="footer_first">
      <div class="footer_first_elem footer_blog">
        <h4>Blog tutos</h4>
        <ul>
          <li><a href="#">Trouver ma formation en alternance</a></li>
          <li><a href="#">Préparer mon CV</a></li>
          <li><a href="#">Comment postuler ?</a></li>
          <li><a href="#">Préparer mon entretien</a></li>
          <li><a href="#">Les conseils pour bien débuter en entreprise</a></li>
        </ul>
      </div>
      <div class="footer_first_elem footer_offers">
        <h4>Offres d’alternance</h4>
        <ul>
          <li><a href="#">Trouver des offres</a></li>
          <li><a href="#">Comment postuler ?</a></li>
          <li><a href="#">Débloquer les offres Premium</a></li>
          <li><a href="#">Feedbacks</a></li>
        </ul>
      </div>
      <div class="footer_first_elem footer_company">
        <h4>Page entreprise</h4>
        <ul>
          <li><a href="#">Connexion à l’espace entreprise</a></li>
          <li><a href="#">Poster une offre</a></li>
          <li><a href="#">Voir les candidatures</a></li>
          <li><a href="#">Obtenir des crédits</a></li>
        </ul>
      </div>
      <div class="footer_first_elem footer_newsletter">
        <h4>S'abonner</h4>
        <div class="input-group flex-nowrap">
          <input
            type="text"
            class="form-control"
            placeholder="example@gmail.com"
            aria-label="adresse email"
            aria-describedby="newsletter-subscriber">
          <a
            href="#"
            class="input-group-text"
            id="newsletter-subscriber"
            title="S'abonner à la newsletter"
          >
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
        <p>
          Recevez les dernières actus, des conseils
          pour vos candidatures ou les alertes de
          vos alternances préférées.
        </p>
        <a href="#" class="btn-custom">
          <span>Connexion</span>
          <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="footer_second">
      <div class="logo__container">
        <a href="/">
          <img src="/images/logo-clear.png" alt="logo" title="Logo MyAlternance.fr">
        </a>
      </div>
      <div class="legal-notices">
        <a href="#">Conditions d'utilisation</a>
        <a href="#">Cookies</a>
        <a href="#">Politique de confidentialité</a>
      </div>
      <div class="socials">
        <a href="#" title="linkedin">
          <i>
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="currentColor" d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"/></svg>
          </i>
        </a>
        <a href="#" title="instagram">
          <i>
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg>
          </i>
        </a>
        <a href="#" title="tiktok">
          <i>
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M14 2a2 2 0 0 1 2 2a3.004 3.004 0 0 0 2.398 2.94a2 2 0 0 1-.796 3.92A7 7 0 0 1 16 10.325V16a6 6 0 1 1-7.499-5.81a2 2 0 0 1 .998 3.873A2.002 2.002 0 0 0 10 18a2 2 0 0 0 2-2V4a2 2 0 0 1 2-2"/></g></svg>
          </i>
        </a>
      </div>
    </div>
  </div>
</footer>
