<footer>
  <div class="footer_container">
    <div class="footer_first">
      <div class="footer_first_elem footer_blog">
        <h4>Blog tutos</h4>
        <ul>
          <li><a href="#">Trouver ma formation en alternance</a></li>
          <li><a href="#">Préparer mon CV</a></li>
          <li><a href="#">Comment postuler ?</a></li>
          <li><a href="#">Préparer mon entretien</a></li>
          <li><a href="#">Les conseils pour bien débuter en entreprise</a></li>
        </ul>
      </div>
      <div class="footer_first_elem footer_offers">
        <h4>Offres d’alternance</h4>
        <ul>
          <li><a href="#">Trouver des offres</a></li>
          <li><a href="#">Comment postuler ?</a></li>
          <li><a href="#">Débloquer les offres Premium</a></li>
          <li><a href="#">Feedbacks</a></li>
        </ul>
      </div>
      <div class="footer_first_elem footer_company">
        <h4>Page entreprise</h4>
        <ul>
          <li><a href="#">Connexion à l’espace entreprise</a></li>
          <li><a href="#">Poster une offre</a></li>
          <li><a href="#">Voir les candidatures</a></li>
          <li><a href="#">Obtenir des crédits</a></li>
        </ul>
      </div>
      <div class="footer_first_elem footer_newsletter">
        <h4>S'abonner</h4>
        <div class="input-group flex-nowrap">
          <input
            type="text"
            class="form-control"
            placeholder="example@gmail.com"
            aria-label="adresse email"
            aria-describedby="newsletter-subscriber">
          <a
            href="#"
            class="input-group-text"
            id="newsletter-subscriber"
            title="S'abonner à la newsletter"
          >
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
        <p>
          Recevez les dernières actus, des conseils
          pour vos candidatures ou les alertes de
          vos alternances préférées.
        </p>
        <a href="#" class="btn-custom">
          <span>Connexion</span>
          <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="footer_second">
      <div class="logo__container">
        <a href="/">
          <img src="/images/logo-clear.png" alt="logo" title="Logo MyAlternance.fr">
        </a>
      </div>
      <div class="legal-notices">
        <a href="#">Conditions d'utilisation</a>
        <a href="#">Cookies</a>
        <a href="#">Politique de confidentialité</a>
      </div>
      <div class="socials">
        <a href="#" title="linkedin">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="#" title="instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#" title="tiktok">
          <i class="fa-brands fa-tiktok"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
