<div class="guided-tour_container">
  <div class="guided-tour__content">
    <p>Visite guidée</p>
    <h3>Recrutez efficacement et simplement.</h3>
    <div class="steps_container">
      <div class="step-card">
        <div class="step-card__top">
          <h2>1</h2>
          <h3>Créez votre compte</h3>
          <p>
            Je créée mon compte entreprise
            avec mon espace dédié.
          </p>
        </div>
        <div class="step-card__bottom">
          <button class="btn-custom">
            <span>Créer un compte</span>
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="step-card">
        <div class="step-card__top">
          <h2>2</h2>
          <h3>Obtenez des crédits</h3>
          <p>
            Je choisis le nombre de crédit qu’il me
            faut en fonction du nombres d’offres
            d’alternance que je veux publier.
          </p>
        </div>
        <div class="step-card__bottom">
          <button class="btn-custom">
            <span>Obtenir des crédits</span>
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="step-card">
        <div class="step-card__top">
          <h2>3</h2>
          <h3>Publiez vos offres</h3>
          <p>
            Une fois mon compte validé, mon offre
            est publiée et accessible à tous les
            candidats.
          </p>
        </div>
        <div class="step-card__bottom">
          <button class="btn-custom">
            <span>Publier une offre</span>
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="guided-tour__content">
    <p>DÉMONSTRATION</p>
    <h3>Comment ça fonctionne ?</h3>
    <div class="video">
    </div>
  </div>
</div>
