<div class="menu-offer">
  <div class="hook become-premium">
    <div class="hook-effect">
      <h4>Candidatez en Illimité en devenant Membre Premium</h4>
      <button class="btn-custom">
        <i class="fa-solid fa-star"></i>
        <span>Passer à Premium</span>
        <i class="fa-solid fa-star"></i>
      </button>
    </div>
  </div>
  <div class="hook offers-available">
    <div class="hook-effect offers-available">
      <div class="number-of-offers">
        <h2><span>1</span> offre</h2>
        <h5>disponible(s)</h5>
      </div>
      <div class="time-offer-unlock">
        <h6>Prochaine offre débloquée dans</h6>
        <h3>09:54:26</h3>
      </div>
    </div>
  </div>
  <div class="frequent-search">

  </div>
</div>
