<div class="user_subscription_offers">
  <h2>Donnez un coup de boost à votre recherche d’alternance</h2>
  <div class="subscription_offer">
    <div class="offers-block">
      <div class="hook-subscription">
        <div class="hook-subscription__switch">
          <div class="switch">
            <div class="switch_option selected">Mensuel</div>
            <div class="switch_option">Trimestriel</div>
          </div>
        </div>
        <div class="title_block">
          <h3>
            <span>Accélérez</span> votre recherche d’alternance
          </h3>
        </div>
      </div>

      <ng-container>
        <app-subscription-offer-card />
      </ng-container>

    </div>

    <ng-container>
      <app-subscription-offer-card />
    </ng-container>

  </div>
</div>
