<div class="user_subscription_offers">
  <h2>Donnez un coup de boost à votre recherche d’alternance</h2>
  <div class="subscription_offer">
    <div class="paid-subscription">
      <div class="hook-subscription">
        <div class="hook-subscription__switch">
          <div class="switch">
            <div class="switch_option selected">Mensuel</div>
            <div class="switch_option">Trimestriel</div>
          </div>
        </div>
        <div class="title_block">
          <h3>
            <span>Accélérez</span> votre recherche d’alternance
          </h3>
        </div>
      </div>
      <div class="subscription-card paid-subscription">
        <strong>Abonnement Premium</strong>
        <p>Mettez toutes les chances de votre côté en passant à l’abonnement Premium.</p>
        <div class="subscription-details">
          <strong>2.99€</strong> /mois
          <p class="offer-advantage">
            <i class="fa-solid fa-circle-check"></i>
            Candidatures <b>&nbsp;illimitées</b>
          </p>
          <hr>
          <p class="offer-advantage">
            <i class="fa-solid fa-circle-check"></i>
            Tableau de bord personnalisé
          </p>
          <hr>
          <p class="offer-advantage">
            <i class="fa-solid fa-circle-check"></i>
            Suivi de l’état de vos candidatures
          </p>

          <div class="buttons_container">
            <a href="#" class="btn-custom">
              <span>Passer premium</span>
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="subscription-card free-subscription">
      <strong>Abonnement gratuit</strong>
      <p>Utilisez notre plateforme gratuitement et accédez à nos conseils et tutos !</p>
      <div class="subscription-details">
        <strong>Gratuit</strong>
        <p>
          <i class="fa-solid fa-circle-check"></i>
          3 candidatures offertes à l’inscription
        </p>
        <hr>
        <p>
          <i class="fa-solid fa-circle-check"></i>
          1 candidature gratuite par jour
        </p>
        <hr>
        <p>
          <i class="fa-solid fa-circle-check"></i>
          Accès à tous nos conseils et tutos
        </p>
        <div class="buttons_container">
          <a href="#" class="btn-custom black">
            <span>Continuer gratuitement</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
