<div [ngClass]="universe" class="blur top-left"></div>

<div [ngClass]="universe" class="error-page__container">
  <h1>404</h1>
  <div class="error-description">
    <p>Oops, on dirait que la page que vous cherchez est introuvable...</p>
    <p>Pas d’inquiétude, vous pouvez toujours revenir sur vos pas !</p>
  </div>

  <a [ngClass]="universe" routerLink="/" type="button" class="btn btn-primary">
    Revenir en lieu sûr
    <mat-icon aria-hidden="false" aria-label="Icon fléche direction nord est" fontIcon="north_east"></mat-icon>
  </a>

</div>

<div [ngClass]="universe" class="blur bottom-right"></div>
