<div class="company_subscription">
  <div class="company_subscription__header"></div>
  <div class="company_subscription__content">
    <p>ENTREPRISE</p>
    <h3>Vous êtes un(e) professionnel(le) ?</h3>
    <h5>Créez votre espace entreprise et diffusez aujourd’hui vos offres d’alternance sur MyAltenance.</h5>
    <div class="buttons_container">
      <a href="#" class="btn-custom black">
        <span>Espace entreprise</span>
        <i class="fa-solid fa-arrow-right"></i>
      </a>
      <a href="#" class="btn-custom second">
        <span>Poster à une offre</span>
        <i class="fa-solid fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
