/* You can add global styles to this file, and also import other style files */
@import "@fontsource/poppins"

\:root
  --mya-max-width: 1290px
  --mya-nav-max-height: 64px

  --mya-primary: #00C8F5
  --mya-secondary: #4265FF
  --mya-primary-text: #4F4F4F
  --mya-secondary-text: white

body
  font-family: 'Poppins', sans-serif


// Buttons
.btn-primary
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  color: var(--mya-secondary-text)
  .mat-icon
    margin-left: 10px
.btn
  border: 2px solid
  border-radius: 2em
  padding: 12px 24px
