<div class="offers-container">
  <form class="form-block">
    <h5 class="mobile-only">Modifier mes informations</h5>
    <div class="name-fields">
      <div class="input-labelled">
        <label for="prenom">Prénom</label>
        <div class="input-group-custom">
          <input
            type="text"
            name="prenom"
            placeholder="Prénom"
            aria-label="prénom"
            aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="input-labelled">
        <label for="nom">Nom</label>
        <div class="input-group-custom">
          <input
            name="nom"
            type="text"
            placeholder="Nom"
            aria-label="nom"
            aria-describedby="basic-addon2">
        </div>
      </div>
    </div>
    <div class="name-fields"> <!-- Nom de class à modifier -->
      <div class="input-labelled">
        <label for="telephone">Numéro de téléphone</label>
        <div class="input-group-custom">
          <input
            type="tel"
            name="telephone"
            placeholder="+33 1 45 68 74"
            aria-label="telephone"
            aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="input-labelled">
        <label for="email">Adresse Email</label>
        <div class="input-group-custom">
          <input
            name="email"
            type="email"
            placeholder="marine.navarro@gmail.com"
            aria-label="email"
            aria-describedby="basic-addon2">
        </div>
      </div>
    </div>
    <div class="name-fields"> <!-- Nom de class à modifier -->
      <div class="input-labelled">
        <label for="formation">Formation actuelle</label>
        <div class="input-group-custom">
          <input
            name="formation"
            type="text"
            placeholder="Design d’animation à ISCOM Paris"
            aria-label="formation"
            aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="input-labelled">
        <label for="nom">Année d'étude</label>
        <div class="input-group-custom">
          <input
            placeholder="TODO"
            aria-describedby="basic-addon2">
        </div>
      </div>
    </div>
    <div class="name-fields"> <!-- Nom de class à modifier -->
      <div class="input-labelled">
        <label for="old_mdp">Ancien mot de passe</label>
        <div class="input-group-custom">
          <input
            type="text"
            placeholder="Mot de passe"
            aria-label="ancien mot de passe"
            aria-describedby="basic-addon2">
          <span class="input-group-text-custom hidden">
            <i class="fa-regular fa-eye-slash"></i>
          </span>
        </div>
      </div>
      <div class="input-labelled">
        <label for="new_mdp">Nouveau mot de passe</label>
        <div class="input-group-custom">
          <input
            name="new_mdp"
            type="text"
            placeholder="Mot de passe"
            aria-label="ancien mot de passe"
            aria-describedby="basic-addon2">

          <span class="input-group-text-custom show">
                                            <i class="fa-regular fa-eye"></i>
                                        </span>
        </div>
      </div>
    </div>
    <div class="name-fields"> <!-- Nom de class à modifier -->
      <div class="input-labelled">
        <label for="confirmation_new_mdp">Confirmer le nouveau mot de passe</label>
        <div class="input-group-custom">
          <input
            type="text"
            placeholder=""
            aria-label="Confirmer le nouveau mot de passe"
            aria-describedby="basic-addon2">
          <span class="input-group-text-custom hidden">
                                            <i class="fa-regular fa-eye-slash"></i>
                                        </span>
        </div>
      </div>
      <div class="input-labelled">
        <button class="btn-custom">
          <i class="fa-solid fa-paperclip"></i>
          Importez votre CV
        </button>
      </div>
    </div>
    <button class="btn-custom">
      Enregistrer les modifications
    </button>
  </form>
</div>
